@charset "utf-u";
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.dropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 190px;
  padding: 8px 0;
  overflow: hidden;
  background: rgb(240, 240, 240);
  border-radius: 0.5rem;
}

.dropContainer .dropButtonContent .dropButton {
  width: 90%;
  height: 28px;
  color: colors.$GRAYA;
  text-align: left;
  cursor: pointer;
  background: #fff;
  border: none;
}

.dropContainer .dropButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30px;
  background: #fff;
  border: 1px solid colors.$GRAY7;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 200px;
  margin-top: 4px;
  background: #fff;
  border: 1px solid #777;
  border-radius: 0.5rem;
  box-shadow: 2px 1px 1px #aaa;
}

.searchContainer .searchContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  padding: 4px 8px;
  border-bottom: 1px solid #aaa;
}

.searchContainer .searchContent .searchBar {
  width: 80%;
  color: colors.$GRAY8;
  border: none;
}

.searchContainer .searchContent .searchBar:focus {
  outline: none;
}

.searchContainer .searchContent .faSearch {
  font-size: 0.8rem;
  color: colors.$GRAYA;
}

.searchContainer .searchItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
  color: colors.$GRAYA;
}

.searchContainer .searchItems .searchItem {
  width: 98%;
  height: 26px;
  padding: 4px 0 0 8px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.searchContainer .searchItems .searchItem:hover {
  background: rgba(0, 0, 0, 10%);
}
