@charset "utf-u";
@use '/src/styles/constants/colors';

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 120px;
  padding: 4px 8px;
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.inputContainer .contentTitle {
  padding: 4px 0 4px 40px;
  font-size: 0.6rem;
  color: colors.$GRAY2;
}

.inputContainer .inputContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 35px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.inputContainer .invalid {
  margin-top: 4px;
  margin-left: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  color: rgb(219, 34, 34);
}

.inputContainer .inputContent input {
  width: 80%;
  border: none;
}

.inputContainer .inputContent input:focus {
  outline: none;
}

.inputContainer .favicon {
  user-select: none;
  opacity: 0.8;
  transition: color 0.5s;
}

.inputContainer .favicon:focus {
  opacity: 1;
}

[input='password'] .favicon {
  cursor: pointer;
}

.inputContainer .favicon.valid {
  fill: rgb(238, 64, 189);
}
