// Grayscale
$WHITE: #fff;
$BLACK: #000;
$GRAY1: #111;
$GRAY2: #222;
$GRAY3: #333;
$GRAY4: #444;
$GRAY5: #555;
$GRAY6: #666;
$GRAY7: #777;
$GRAY8: #888;
$GRAY9: #999;
$GRAYA: #aaa;
$GRAYD: #ddd;
$GRAYE: #eee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #fc0;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;
