@charset "utf-8";
@use '/src/styles/constants/colors';

.wrap * {
  box-sizing: border-box;
}

.contents,
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  background: #efefef;
  border-radius: 2rem;
}

.slider {
  position: absolute;
  left: -10px;
  z-index: 1;
  width: 150px;
  height: 35px;
  background: #fff;
  transition: transform 0.5s;
  transform: translateX(15px);
}

.slider.selected {
  transform: translateX(155px);
}

.contents .item {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0 3.25em;
  font-weight: bold;
  line-height: 35px;
  color: colors.$GRAY4;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: inherit;
}
