@charset "utf-8";
.App {
  max-width: 820px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

:global .title {
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: bold;
}

:global .wrap {
  width: 85%;
  height: 200px;
  border-radius: 0.75rem;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  position: relative;
  flex-direction: column;
}
